/*---------Universal Styling---------*/
.text-align-center
{
    text-align: center;
}
/*-------------Start of Nav-------------*/

nav .container-flex
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-item
{
    height: 80px;
    display: flex;
    align-items: center;
}
.nav-item
{
    transition: 1s ease;
}
.nav-item:hover
{
    border-bottom: 1px solid white;
}
@media (min-width: 768px)
{
    .symbol1
    {
        transform: rotate(-90deg);
    }
    .symbol2
    {
        transform: rotate(90deg);
    }
    nav .container-flex
    {
        display: flex;
        justify-content: center;
    }
    .navbar
    {
        display:flex;
        justify-content: center;
    }
}
@media (max-width: 768px)
{
    .symbol2
    {
        transform: rotate(180deg);
    }
}
/*----------Start of Main Content----------*/
.section1-header
{
    color: lightskyblue;
    font-family: 'Rubik Doodle Shadow', sans-serif;
}
.section1-items
{
    border: 2px solid red;
    color: rgb(8, 98, 155);
}
.aspectRatio
{
    aspect-ratio: 1.5;
    background-size: cover;
    background-position: center;
}
.section2-title
{
    font-family: 'Dancing Script', cursive;
    font-family: 'Dancing Script', sans-serif;
}
@media (max-width: 992px)
{
    .section2 > div
    {
        padding-right: 25px;
    }
}
/*-----------Start of Footer-----------*/
.footer-portrait
{
    width: 80px;
    height: 80px;
}
footer
{
    height: 200px;
    background-size: cover;
    background-position: center;
}
footer .section3
{
    padding-top: 25px;
    text-align: center;
}
.social
{
    font-size: 30px;
}
.school
{
    font-size: 25px;
    text-decoration: none;
    color: rgb(216, 216, 216);
}
.school:hover
{
    border-bottom: 1px solid black;
}
.shake {
    animation: shake 2s linear 1s;
  }
  @keyframes shake {
    5% {
      transform: translateX(-10px);
    }
    10% {
      transform: translateX(10px);
    }
    15% {
      transform: translateX(-10px);
    }
    20% {
      transform: translateX(10px);
    }
    25% {
      transform: translateX(-10px);
    }
    30% {
      transform: translateX(10px);
    }
    35% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    45% {
      transform: translateX(-10px);
    }
    50% {
      transform: translateX(0);
    }
  }