.aspectRatio
{
    aspect-ratio: 1.5;
    background-size: cover;
    background-position: center;
}
/*--------Universal Styling Above--------*/
body
{
    background-color: rgb(26, 25, 25);
}
.navbar-symbols
{
    height: 80px;
    width: auto;
}
.navbar-nav
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-item
{
    height: 80px;
    display: flex;
    align-items: center;
}
.nav-item
{
    transition: 1s ease;
}
.nav-item:hover
{
    border-bottom: 1px solid white;
}
@media (min-width: 768px)
{
    .symbol1
    {
        transform: rotate(-90deg);
    }
    .symbol2
    {
        transform: rotate(90deg);
    }
}
@media (max-width: 768px)
{
    .symbol2
    {
        transform: rotate(180deg);
    }
}
/*---------End of Nav---------*/

@media (min-width: 768px) and (max-width: 992px)
{
    .section1-text
    {
        order: 5;
    }
}
/*---------End of Main---------*/